{% extends "base.html" %} {% block title %}NAR BarberShop{% endblock %} {% block content %}
    <div class="text-center">
      <h1>Welcome to FadedCuts</h1>
    </div>
    <div class="container">
      <h2>Crafting Your Perfect Look with Tradition and Style</h2>
      <p>At FadedCuts, we believe that a haircut is not just a routine grooming ritual but an expression of your personal style and identity. Nestled in the heart of Tampa, our barbershop offers a blend of traditional techniques and contemporary styles, ensuring that every visit leaves you feeling refreshed and confident.</p>
      <h2>Why Choose Us?</h2>
      <ul>
        <li><strong>Expert barbers: </strong>Our team of skilled professionals is dedicated to providing you with personalized attention and expert advice, ensuring that your haircut and grooming experience is second to none.</li>
        <li><strong>Welcoming atmospher: </strong>From the moment you step through our doors, you'll be greeted by the warm, inviting ambiance of our barbershop. Enjoy a comfortable, friendly environment where every appointment feels like a visit with old friends.</li>
        <li><strong>Quality products: </strong>We use only the finest grooming products to ensure that your hair and skin receive the care they deserve. From shampoos and conditioners to styling gels and beard oils, we have everything you need to look and feel your best.</li>
        <li><strong>Convenient location: </strong>Located in the heart of the city, our barbershop is easily accessible from anywhere in town. Whether you're a local resident or just passing through, we're here to help you look your best.</li>
      </ul>
      <h2>Our Services</h2>
      <ul>
        <li><strong>Haircuts: </strong>From classic styles to modern trends, our barbers are skilled in a wide range of cutting techniques to help you achieve the perfect look.</li>
        <li><strong>Shaves: </strong>Experience the luxury of a traditional straight razor shave, complete with hot towels, lather, and aftershave. Treat yourself to the ultimate grooming experience.</li>
        <li><strong>Beard trims: </strong>Whether you're growing out your beard or keeping it neatly trimmed, our barbers will help you maintain the perfect length and shape for your facial hair.</li>
        <li><strong>Facial treatments: </strong>Pamper yourself with a relaxing facial treatment that will leave your skin feeling refreshed and rejuvenated. Our barbers use only the finest products to cleanse, exfoliate, and moisturize your skin.</li>
      </ul>
      <h2>Book your appointment today!</h2>
      <p>Ready for the FadedCuts experience? Book your appointment online or give us a call. Walk-ins are also welcome. We're here to make sure you leave looking and feeling your absolute best.</p>
    </div>
{% endblock %}