{% extends "base.html" %}

{% block title %}Reviews{% endblock %}

{% block content %}
<div class="container">
    <h2>Your Customer Reviews</h2>
    <hr>
    <div id="reviews-container">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-text">Client: {{ review.client_first_name }} {{ review.client_last_name }}</h5>
                <p class="card-text">Rating: {{ review.rating }} stars</p>
                <p class="card-text">Note: {{ review.note }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}